@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Ekdilosi.User>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />




@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@if (Session["Admin_Name"] == null)
{

    Response.Redirect("/admin");
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>@Session["Admin_Name"], What do you want to do ?</h3>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @*<form class="mt-2 mb-4" method="get" onsubmit="location.href='@Url.Action("Home","Admin")'">
                <label for="SearchFunction">Search User</label>
                <input type="text" name="Search" id="SearchFunction" class="form-control" placeholder="First name">
                <button class="form-control btn btn-primary mt-2" type="submit">Search</button>
                </form>*@

            @using (Ajax.BeginForm("Home", "Admin", new AjaxOptions
            {
                HttpMethod = "get",
                UpdateTargetId = "one",
            }))
            {
                <input type="text" name="Search" id="SearchFunction" class="form-control" placeholder="First name">
                <button class="form-control btn btn-primary mt-2" type="submit">Search</button>
            }

        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <div class="container">

        <p class="text-danger">@TempData["NoUserinit"]</p>
    </div>
}

else
{
    <div id="one" class="mt-3">
        @Html.Partial("_userPartial")
    </div>
}

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-3">
            <div class="pagination">

                @Html.PagedListPager(Model, Page => Url.Action("Home", "Admin", new { Page, Search = Request.QueryString["Search"] as string, SortBy = Request.QueryString["SortBy"] as string }))
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Logout","Admin")'">log out</button>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

