@model IEnumerable<UserEvent>
@{
    ViewBag.Title = "Index";
    Layout = Layout = "~/Views/Shared/_userLayout.cshtml";
}



<div class="container">
    <h4>@Session["UserName"] Welcome.</h4>
    <h5>@TempData["Loggedin"]</h5>

    @foreach (var item in Model)
    {
        <div class="row" style="margin-top:15px">
            <div class="col-6">
                <div class="card card-title card border-primary">
                    <div class="card-header">
                        Task Heading : @item.Event.Event_Name
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@item.Event.Event_Discription</p>
                            <footer class="blockquote-footer">Asigned by<cite title="Source Title">@item.Admin.Admin_Name</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="row" style="margin-top:30px">
        <div class="col-md-4">
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("userlogOut","UserD")'">Log out</button>
        </div>

    </div>
</div>



